@tailwind base;
@tailwind components;
@tailwind utilities;
 
.custom-image{
    background-image: url("../../public/assets/bg.jpg");
}

.promo-2{
    background-image: url("../../public/assets/promo2.jpg");
}
.promo-1{
    background-image: url("../../public/assets/promo1.jpg");
}
.promo-3{
    background-image: url("../../public/assets/promo3.jpg");
}
.promo-4{
    background-image: url("../../public/assets/promo4.jpg");
}
.mybadge{
    transform:rotate(-90deg) translate(0,-69px);
    transform-origin: 100% 0;
}
